﻿body {
    margin: 0;

}

header {
    background-color: #004183;
    color: #FFFFFF;
    padding: 30px;
    text-align: center;
    font-family:"Arial";
    font-size: 25px;
}

.usage {
    background-color: #924da0;
    color: #FFFFFF;
    padding: 5px;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
    font-weight: bold;
}

.xml {
    padding: 30px;
    background-color: #f3f3f3;
    color: #454545;
    font-size: 15px;
    height: 250px;
    overflow-y: scroll;
    margin-bottom: 20px;
}

.content {
    margin-top: 20px;
    text-align: center;
}

#sendXML {
    padding: 5px;
    color: white;
    background-color: #004183;
    font-family:"Arial";
    cursor: pointer;
}