﻿@using System.Web.Script.Services
@using System.Web.Optimization;

<!doctype html>
<html lang="hr">
<head>
    <meta charset="utf-8">
    <title>SepaKON WebServis</title>
    @Styles.Render("~/Styles/style.css")
    @Scripts.Render("~/Scripts/jquery.js")
</head>
<body>
<header>
    <h1>
        SepaKON WebServis
    </h1>
    <div class="usage">
        <p>
            POST: Content-Type: application/json, URL: http://sepakon/, PAYLOAD: { "CstmrCdtTrfInitn": {
            "GrpHdr": { ... }
        </p>
    </div>
</header>
<div class="content">
    <textarea class="xml rows="5" cols="100"></textarea>
    <p><a id="sendXML">Pošalji JSON</a></p>
    <p>XML će se otvoriti u novom prozoru preglednika.</p>
</div>
    @Scripts.Render("~/Scripts/script.js")
</body>
</html>